.collapsed {
    display: none;
}

    
.collapsible-header {
  color: black;
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 3rem;
  background-color:#ddd;
  border-bottom: 1px solid #ddd;
}
.collapsible-header p,em{
color: black;
}

.collapsible-body p{
 text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  text-align: center;
  color: black;

}

.collapsible-body  ul, h5{

margin-left: 30px;
padding-bottom: 30px;
}

.collapsible-body .liste, em {
  color: black;
}
.liste li{
  color: black;
  display: list-item;
}
    
.titre h2{
    text-align: center;
    margin-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: black;  
    }

 